<th:block th:include="header.html"></th:block>

<div>
    <a href="/users/create">Create</a>,
    <a href="/users/edit">Edit</a>,
    <a href="/users/delete/1">Delete</a>,
    <a href="/users/info">Info</a>,
    <a href="/users/index">Index (here)</a>,
</div>
<div>
    <table>
        <tr>
            <td colspan="2" style="background-color: #F9F9F9"><b>Users:</b></td>
        </tr>
        <tr>
            <td style="background-color: #F1F1F1"><b>ID</b></td>
            <td style="background-color: #F1F1F1"><b>Username</b></td>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td><a th:href="@{/users/info/} + ${user.getUserID()}" th:text="${user.getUserID()}"></a></td>
                <td><a th:href="@{/users/info/} + ${user.getUserID()}" th:text="${user.getUsername()}"></a></td>
                <td><a th:href="@{/users/edit/} + ${user.getUserID()}">Edit</a></td>
                <td><a th:href="@{/users/delete/} + ${user.getUserID()}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>

<th:block th:include="footer.html"></th:block>