<th:block th:include="header.html"></th:block>
<th:block th:include="menu.html"></th:block>

<div id="content">
    <h1>Login</h1>

    <div th:if="${validationfailed}" style="color: red">
        Login fejlet
    </div>
    <form action="/users/login" method="post">
        username:<br>
        <input type="text" name="username">
        <br>
        password:<br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>


    </p>
</div>

<th:block th:include="footer.html"></th:block>