<th:block th:include="header.html"></th:block>
<th:block th:include="menu.html"></th:block>

<div id="content">
    <h2>Velkommen til Martin, Philip og Lasses blog</h2>
    <div class="posts-container">
        <h2>
            Blogposts
        </h2>

        <!-- Blog post start -->
        <div class="post" th:each="post : ${posts}">
            <a th:href="'posts/post/' + ${post.getPostId()}"><h3 th:text="${post.getTitle()}"></h3></a>

            <p th:text="${post.getContent()}"></p>

            <a class="btn btn-primary" role="button" th:href="'posts/post/' + ${post.getPostId()}">Read post</a>
            <a class="btn btn-warning" role="button" th:if="${isAdmin}" th:href="'posts/edit/' + ${post.getPostId()}">Edit post <i class="fas fa-edit"></i></i></a>
            <a class="btn btn-danger" role="button" th:if="${isAdmin}" th:href="'posts/delete/' + ${post.getPostId()}">Delete post <i class="fa fa-trash" aria-hidden="true"></i></a>

        </div>
        <!-- Blog post /end -->

    </div>
</div>

<th:block th:include="footer.html"></th:block>