#container{
    width: 960px;
    margin: 0px auto;
}

#content{
    float: right;
    width: 510px;
    padding: 20px 30px;
}

table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

tr.margin{
    margin-top: 5px;
 margin-bottom: 5px;
 }

td.padded {
    padding: 5px;
}

div.right{
    float: right;
}

h1.block{
    display: inline-block;
}

p.font-weight-bold{
    font-weight: bold;
}

p.text-decoration-underline{
    text-decoration: underline;
}