#container{
    width: 960px;
    margin: 0px auto;
}
#menu{
    float: left;
    width: 300px;
    padding: 20px 30px;
    margin-right: 30px;
}
#content{
    float: right;
    width: 510px;
    padding: 20px 30px;
}