<html>
<body style="width:100%;heigth:100%;padding:0;margin:0">
<div style="background-color:cyan;border-right:1px solid black;width:200px;float:left;margin-right:5px;border-bottom:1px solid black;padding-left:5px;padding-bottom:5px">
<h2 style="padding:0;margin:0">Menu</h2>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a href="/user/login">Login</a>

</div>
<div>
<h1>Login</h1>
<form action="/users/login" method="post">
username:<br>
<input type="text" username="username">
<br>
password:<br>
<input type="text" password="password">
<br>
<br>
<input type="submit" value="Login">
</form>


</p>
</div>
</body>
</html>