<th:block th:include="header.html"></th:block>

<h1>Create Menu Item:</h1>

<form method="post" action="/menu/create" class="fw500">
    <div class="block">
        <span class="textfield">Name:</span><input type="text" name="name">
    </div>
    <div class="block">
        <span class="textfield">sortorder:</span><input type="text" name="sortorder" value="100">
    </div>
    <div class="block">
        <span class="textfield">ParentId:</span>
        <select style="width: 100%" name="parentId">
            <option value="0">Top level (SortOrder)</option>
            <th:block th:each="cmenuitem : ${Menu.getTopMenu()}">
                <option th:utext="${cmenuitem.getIndent()} + ${cmenuitem.getName()} + '(' + ${cmenuitem.getSortorder()} + ')'" th:value="${cmenuitem.getId()}">
            </th:block>
        </select>
    </div>
    <hr/>
    <div class="block">
        <span class="textfield">blogId:</span><input type="text" name="blogId">
    </div>
    <span>or</span>
    <div class="block">
        <span class="textfield">Url:</span><input type="text" name="url" >
    </div>
    <input type="submit" value="Create Menu Item" >
</form>



<th:block th:include="footer.html"></th:block>