<th:block th:include="header.html"></th:block>

<h1>Edit Menu Item:</h1>

<form method="post" action="/menu/edit" modelAttribute="MenuItem" class="fw500">
    <input type="hidden" name="id" th:value="${menuitem.getId()}">
    <div class="block">
        <span class="textfield">Name:</span><input type="text" name="name" style="width: 100%" th:value="${menuitem.getName()}">
    </div>
    <div class="block">
        <span class="textfield">sortorder:</span><input type="text" name="sortorder" style="width: 100%" value="100" th:value="${menuitem.getSortorder()}">
    </div>
    <div class="block">
        <span class="textfield">ParentId:</span>
        <select style="width: 100%" name="parentId">
        <option value="0">Top level (SortOrder)</option>
        <th:block th:each="cmenuitem : ${Menu.getTopMenu()}">
            <option th:utext="${cmenuitem.getIndent()} + ${cmenuitem.getName()} + '(' + ${cmenuitem.getSortorder()} + ')'" th:value="${cmenuitem.getId()}" th:selected="${menuitem.getParentId()} eq ${cmenuitem.getId()}">
        </th:block>
        </select>
    </div>
    <hr/>
    <div class="block">
        <span class="textfield">blogId:</span><input type="text" name="blogId" style="width: 100%" th:value="${menuitem.getBlogId()}">
    </div>
    <span>or</span>
    <div class="block">
        <span class="textfield">Url:</span><input type="text" name="url" style="width: 100%" th:value="${menuitem.getUrl()}">
    </div>
    <input type="submit" value="Edit Menu Item" style="width: 100%">
</form>

<th:block th:include="footer.html"></th:block>