<th:block th:include="header.html"></th:block>


    <h1 class="block">Menu item info</h1>
    <a href="/menu/" class="btn btn-primary right">Tilbage</a><br/>

<span class="numfield">ID</span>
<span class="textfield">Name</span>
<span class="numfield">sortorder</span>
<span class="numfield">parentId</span>
<span class="numfield">blogId</span>
<span class="textfield">url</span>

<div style="display: block;">
    <span class="numfield" th:text="${menuitem.getId()}"></span>
    <span class="textfield" th:text="${menuitem.getName()}"></span>
    <span class="numfield" th:text="${menuitem.getSortorder()}"></span>
    <span class="numfield" th:text="${menuitem.getParentId()}"></span>
    <span class="numfield" th:text="${menuitem.getBlogId()}"></span>
    <span class="textfield" th:text="${menuitem.getUrl()}"></span>
</div>


<th:block th:include="footer.html"></th:block>