<th:block th:include="header.html"></th:block>

<div>
    <h1 class="block">Menu item info</h1>
    <div class="right"><a href="/menu/" class="btn btn-primary">Tilbage</a></div>
</div>
<table cellspacing="3">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>sortorder</th>
        <th>parentId</th>
        <th>blogId</th>
        <th>url</th>
    </thead>
    <tbody>
        <td th:text="${menuitem.getId()}"></td>
        <td th:text="${menuitem.getName()}"></td>
        <td th:text="${menuitem.getSortorder()}"></td>
        <td th:text="${menuitem.getParentId()}"></td>
        <td th:text="${menuitem.getBlogId()}"></td>
        <td th:text="${menuitem.getUrl()}"></td>
    </tbody>
</table>


<th:block th:include="footer.html"></th:block>