<th:block th:include="header.html"></th:block>

<h1>Create Post:</h1>

<form method="post" action="/posts/create" modelAttribute="Post" class="fw500">
    <label for="title">Title:</label>
    <input type="text" name="title">
    <br/>
    <label for="content">Content:</label>
    <br/>
    <textarea type="textfield" name="content" cols="30" rows="10"></textarea>
    <br/>
    <label for="hidden">Hide post:</label>
    <input type="checkbox" name="hidden">
    <br/>
    <input type="submit" value="Create post">
</form>

<th:block th:include="footer.html"></th:block>