<th:block th:include="header.html"></th:block>

<h1>Edit Post: <span th:text="${post.getTitle()}"></span></h1>

<form method="post" action="/posts/edit">
    <input type="hidden" name="postID" th:value="${post.getPostId()}">

    <label for="title">Title:</label>
    <br/>
    <input type="text" name="title" th:value="${post.getTitle()}">
    <br/>
    <label for="content">Content:</label>
    <br/>
    <textarea name="content" th:text="${post.getContent()}" cols="30" rows="10"></textarea>
    <br/>

    <label for="hidden">Hide post:</label>
    <input type="checkbox" name="hidden" th:checked="${post.isHidden()} ? 'checked'">
    <br/>
    <input type="submit" value="Save changes">
</form>

<th:block th:include="footer.html"></th:block>